.section {
    padding: 8rem 0 7rem;
    text-align: center;
}

.showcase {
    position: relative;
    transform: translateY(50%);
    color: black;
}

.showcase-description {
    text-align: center;
    color: black;
}

.showcase-description {
    margin-top: 3rem;
}

.section-description {
    margin-top: 0.2rem;
}

.section-nav{

}

hr {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

#nav ul li{
    display: inline;
    margin: 1rem 1.5rem 5rem 0
}

#profile {
    position: relative;
    max-width: 80%;
    margin: 1rem auto 3rem;
}

#section-b-heading {
    text-align: center;
}